source = "/home/.config/hypr/Settings/Env_variables.conf"
source = "/home/.config/hypr/Settings/Workspaces.conf"
source = "/home/.config/hypt/Settings/Animations.conf"
source = "/home/.config/hypt/Settings/Decorations.conf"
source = "/home/.config/hypt/Settings/Initial_apps.conf"
source = "/home/.config/hypt/Settings/Keybinds.conf"
source = "/home/.config/hypt/Settings/Keyhints.conf"
source = "/home/.config/hypt/Settings/Monitors.conf"
source = "/home/.config/hypt/Settings/Windows_rules.conf"
source = "/home/.config/hypt/Settings/App_styles.conf"